*{
	margin:0;
	padding:0;
}
.header{
	min-height:100vh;
	width:100%;
	background-image:linear-gradient(rgba(5,25,10,0.5),rgba(2,9,10,0.7)),url('../images/ncbae1.JPG');
	background-position:center;
	background-size:cover;
	position:relative;
}
nav{
	display:flex;
	padding:2px 6px;
	justify-content: space-between;
	align-items:center;
	color:black;
}
nav img{
	width:250px;
}
.nav-links{
	flex:1;
	text-align:right;
	color:black;
}
.nav-links ul li{
	list-style:none;
	display:inline-block;
	padding:2px 9px;
	position:relative;
	border:1px solid #fff;
	background : transparent;
	text-decoration:none;
}
.nav-links ul li:hover{
	border:1px solid black;
	color:black;
	background:black;
	transition:1s;
}
	
.nav-links ul li a{
	text-decoration:none;
    color:white;
	font-size:13px;
}
.text-blog{
	color:#fff;
	position:absolute;
	top:45%;
	left:60px;
	transform: translate(-50px,-50px);
	text-align:center;
	width:93%;
}
.text-blog h1{
	font-size:55px;
}
.text-blog p{
	margin:10px 0 40px;
	font-size:14px;
	color:#fff;
}
.btn{
	display:inline-block;
	text-decoration:none;
	color:black;
	border:1px solid #fff;
	padding: 12px 34px;
	font-size:13px;
	background : transparent;
	position:relative;
}
.btn:hover{
	border:1px solid gray;
	background:#ffd2b3;
	transition:1s;
}
.header2{
	min-height:50vh;
	width:100%;
	background-image:url('../images/ncbae2.jpg');
	background-position:center;
	background-size:cover;
	position:relative;
}
.head{
	font-family:arial;
	color:white;
	font-size:93px;
	position:absolute;
	top:71%;
}
.header3{
	min-height:50vh;
	width:100%;
	background-image:linear-gradient(rgba(7,6,10,0.5),rgba(2,9,89,0.9)),url('../images/pic4.jpg');
	background-position:center;
	background-size:cover;
	position:relative;
}

.form{
	color:#fff;
	font-size:25px;
	border:1px solid #fff;
	padding: 50px 50px;
}
.form label{
	color:#fff;
	font-size:20px;
}
.form p{
	font-size:16px;
}
	
.submit{
	float:right;
	font-size:30px;
	
}
	
	